*{
    border: none;
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
.header{
  
    /* display: flex;
    justify-content: center;
    align-items: center;
    */
    background-color:#FDC435;
    padding:20px 15px;
    margin-bottom: 40px;

}
.menu-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-weight: 700;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap:50px;
}
nav ul li{
   list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-weight: 700;
    
}
nav ul li a:hover{
    cursor: pointer;
}

.main-container{
    display: flex;
    justify-content: space-between;

}
.profile-section{
   margin-left: 200px;
   margin-top: 80px;
}
.profile-skill{
    font-size: 20px;
    color:#FDC435;
    margin-bottom: 10px;
}
.profile-title{
    font-size: 40px;
    margin-bottom: 10px;
}
.profile-desc{
    color:rgb(170, 168, 168);
    margin-bottom: 10px;
}
.btn-project{
    background-color: #FDC435;
    padding:8px 15px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 10px;
}
.btn-linkedin{
    background-color: transparent;
    padding:8px 15px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 10px;
    border:2px solid black
}


.main-container img{
    max-width: 600px;
    
}

.projects{
    text-align: center;
    font-size: 40px;
    margin:100px 0px;
}
.project-name{
    display: flex;
    justify-content: center;
    margin:80px 0px
    
   
}
.project-name img{
    max-height: 400px;
    border-radius: 10px;
}
 
  .project-text{
    margin-top: 80px;
    padding:50px;
  
  }
.project-text h3{
    font-size: 30px;
    margin-bottom: 8px;
}
.project-text p{
    color:rgb(170, 168, 168);
    margin-bottom: 8px;
    background-color: #FFFFFF;
}
.btn-view{
    background-color: transparent;
    padding:8px 15px;
    font-weight: 700;
    border-radius: 50px;
    margin-right: 10px;
    border:2px solid black;
    margin-top: 10px;
}